<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <title>Sneaker Spot | Error</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/style-error.css">
</head>

<body>
    <main>
        <div class="error-window">
            <div class="warning-sign">
                <i class="fa-solid fa-triangle-exclamation" style="color: #ffffff;"></i>
            </div>
            <div class="error">
                <h2>Ha ocurrido un error inesperado</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, saepe consequuntur similique blanditiis in cum quidem dolorum, explicabo vero odit recusandae! Animi neque quasi quidem nisi, voluptate magni? Quis quos blanditiis corporis aut, cupiditate aperiam quam, ullam placeat, consequatur magnam totam obcaecati? Facilis suscipit nihil architecto enim fugiat, eius ducimus quis magnam inventore aut et neque corporis cum ullam mollitia commodi, dolore hic deleniti eum sequi autem obcaecati consectetur quisquam. Corrupti, aliquam. Inventore quidem adipisci facilis aut tempore natus nam doloremque enim, eos ducimus ad animi maxime, fugiat ut in! Suscipit nam quasi nisi sit. Deserunt odit ea aspernatur expedita!</p>
            </div>
            <div class="help">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est nisi tempore pariatur quo assumenda beatae dolorem consequuntur temporibus harum optio veritatis, voluptas quasi totam. Eum aliquid distinctio doloribus alias expedita natus enim ipsum! Velit rerum, pariatur odit officia saepe at esse nobis perspiciatis libero. Illum quibusdam inventore architecto, labore provident tempore tempora veniam autem alias asperiores, qui sed praesentium nobis.</p>
            </div>
            <div class="buttons-error">
                <div class="detalles">
                    <p>Detalles</p>
                </div>
                <div class="volver">
                    <p>Volver para estar a salvo</p>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>