<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header>
        <img class="logo" src="./images/logo.png" alt="" srcset="">
        <div class="header-cont-1">
            <ul class="ul-1">
                <li><a href="">Catálogo</a></li>
                <li><a href="">Niños</a></li>
                <li><a href="">Hombre</a></li>
                <li><a href="">Mujer</a></li>
            </ul>
        </div>
        <div class="header-cont-2">
            <ul class="ul-2">
                <input type="search" name="" id="cont-search"><input type="submit" value="Buscar">
                <li><a href=""><i class="fas fa-sign-in-alt sign"></i></a></li>
            </ul>
        </div>
    </header>
    <main>
            <img class="banner" src="./images/banner.jpg" alt="" srcset="">
            <div class="titulares">
                <p>Nike.</p>
                </div>
        <section>
            <article>
                <img class="producto-img" src="./images/nike.jpg" alt="" srcset="">
                <p class="envio">Envío gratis</p>
                <p class="producto">Nike lorem ipsum</p>
                <p class="descripcion">Calzado Urbano Unisex</p>
                <p class="precio">$32.000,00</p>
            </article>
            <article>
                <img class="producto-img" src="./images/jordan.jpg" alt="" srcset="">
                <p class="envio">Envío gratis</p>
                <p class="producto">Nike Jordan 1</p>
                <p class="descripcion">Calzado de basquet Unisex</p>
                <p class="precio">$45.000,00</p>
            </article>
            <article>
                <img class="producto-img" src="./images/pegasus40se.jpg" alt="" srcset="">
                <p class="envio">Envío gratis</p>
                <p class="producto">Nike Pegasus 40 SE</p>
                <p class="descripcion">Calzado de Running Unisex</p>
                <p class="precio">$67.000,00</p>
            </article>
            <article>
                <img class="producto-img" src="./images/pegasustrail4goretex.jpg" alt="" srcset="">
                <p class="envio">Envío gratis</p>
                <p class="producto">Nike Pegasus trail 40 Goretex</p>
                <p class="descripcion">Calzado de Running Unisex</p>
                <p class="precio">$70.000,00</p>
            </article>
        </section>
        <div class="cont-main">

        </div>
        <div class="cont-main">

        </div>
    </main>
    <footer>
        <div class="register-ad">

        </div>
        <div class="about">

        </div>
    </footer>
</body>

</html>