<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  

  <title>Document</title>
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <header>
    <h2>
      Sneaker Spot
    </h2>
    <nav class="header-nav">
      <a href="">Catálogo</a>
      <a href="">Niño/as</a>
      <a href="">Hombre</a>
      <a href="">Mujeres</a>
    </nav>
    <i class="fa-solid fa-bars menuIcon"></i>
  </header>

  <main>

    <div class="carrusel">

    </div>

    <h2>Productos Destacados</h2>
    <section class="productos-destacados">

      <article class="producto">
        <a href="#">
          <img src="/images/placeholder.png" alt="" class="imagen-producto">
        </a>
        <div>
          <p class="precio">$1000</p>
          <a href="#" class="descripcion">Lorem Ipsum</a>
        </div>
      </article>

      <article class="producto">
        <a href="#">
          <img src="/images/placeholder.png" alt="" class="imagen-producto">
        </a>
        <div>
          <p class="precio">$1000</p>
          <a href="#" class="descripcion">Lorem Ipsum</a>
        </div>
      </article>

      <article class="producto">
        <a href="#">
          <img src="/images/placeholder.png" alt="" class="imagen-producto">
        </a>
        <div>
          <p class="precio">$1000</p>
          <a href="#" class="descripcion">Lorem Ipsum</a>
        </div>
      </article>

      <article class="producto">
        <a href="#">
          <img src="/images/placeholder.png" alt="" class="imagen-producto">
        </a>
        <div>
          <p class="precio">$1000</p>
          <a href="#" class="descripcion">Lorem Ipsum</a>
        </div>
      </article>

      <article class="producto">
        <a href="#">
          <img src="/images/placeholder.png" alt="" class="imagen-producto">
        </a>
        <div>
          <p class="precio">$1000</p>
          <a href="#" class="descripcion">Lorem Ipsum</a>
        </div>
      </article>

      <article class="producto">
        <a href="#">
          <img src="/images/placeholder.png" alt="" class="imagen-producto">
        </a>
        <div>
          <p class="precio">$1000</p>
          <a href="#" class="descripcion">Lorem Ipsum</a>
        </div>
      </article>

      <article class="producto">
        <a href="#">
          <img src="/images/placeholder.png" alt="" class="imagen-producto">
        </a>
        <div>
          <p class="precio">$1000</p>
          <a href="#" class="descripcion">Lorem Ipsum</a>
        </div>
      </article>

      <article class="producto">
        <a href="#">
          <img src="/images/placeholder.png" alt="" class="imagen-producto">
        </a>
        <div>
          <p class="precio">$1000</p>
          <a href="#" class="descripcion">Lorem Ipsum</a>
        </div>
      </article>

    </section>

  </main>

  <footer>
    <div class="social-icons">
      <a href=""><i class="fab fa-facebook fa-sm"></i></a>
      <a href=""><i class="fab fa-instagram fa-sm"></i></a>
      <a href=""><i class="fab fa-twitter fa-sm"></i></a>
      <a href=""><i class="fab fa-whatsapp fa-sm"></i></a>
    </div>
    <div class="footer-nav">
      <ul>
        <li><a href="">Inicio</a></li>
        <li><a href="">Noticias</a></li>
        <li><a href="">Descubre</a></li>
        <li><a href="">Contacto</a></li>
      </ul>
    </div>
  </footer>
  <div class="footer-bottom">
    <p>Made with <i class="far fa-heart" style="color: #ff295e;"></i> by Grupo 3</p>
  </div>

  <script src="../script.js" type="text"></script>
</body>

</html>