<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/style-productDetail.css">
</head>

<body>
  <header>

  </header>

  <main>
    <article>
      <div class="shoe-img">

      </div>
      <div class="shoe-detail">
        <p class="title">Adidas FDFWD 2</p>
        <p class="class-shoe">Calzado para Running Unisex</p>
        <p class="envio">Envío gratis</p>
        <p class="precio">$ 45.000</p>
        <form action="">
          <label for="color">
            <div class="flex-color">
              <input class="color1" type="radio" name="color" id="">
              <input class="color2" type="radio" name="color" id="">
              <input class="color3" type="radio" name="color" id="">
          </label>
      </div>
      <input type="number" name="cantidad" id="">
      <button type="submit" name="comprar">Añadir al carrito</button>
      </form>
      </div>
    </article>
  </main>

  <footer>
    <div class="social-icons">
      <a href=""><i class="fab fa-facebook fa-sm"></i></a>
      <a href=""><i class="fab fa-instagram fa-sm"></i></a>
      <a href=""><i class="fab fa-twitter fa-sm"></i></a>
      <a href=""><i class="fab fa-whatsapp fa-sm"></i></a>
    </div>
    <div class="footer-nav">
      <ul>
        <li><a href="">Inicio</a></li>
        <li><a href="">Noticias</a></li>
        <li><a href="">Descubre</a></li>
        <li><a href="">Contacto</a></li>
      </ul>
    </div>
  </footer>
  <div class="footer-bottom">
    <p>Made with <i class="far fa-heart" style="color: #ff295e;"></i> by Grupo 3</p>
  </div>
</body>

</html>