<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/style-productDetail.css">
</head>

<body>
  <header>

  </header>

  <main>
    <div class="shoe-img">
      <img src="/images/adidasforum84low.png" alt="" srcset="">
    </div>
    <div class="shoe-desc">
        <p class="desc">10% OFF</p>
        <p class="titulo">Adidas Forum 84 low</p>
        <p class="shoe-class">CALZADO OUTDOOR</p>
        <p class="envio">Envio Gratis</p>
        <p class="shoe-history">1984 fue un año intenso. Atletas de todos los rincones del mundo se reunieron en Los Ángeles. Estas zapatillas se inspiran en el estilo del baloncesto de los 80 y se actualizan para las calles de hoy. Conservan el detalle icónico en forma de X, la correa acolchada alrededor del tobillo y una parte superior de cuero que te ofrece un ajuste a medida.</p>
        <div class="flex-cont">
        <input type="number" id="cantidad" name="cantidad" min="1" max="10" step="1">
        <button type="submit">Añadir al carrito</button>
        <button type="submit">Comprar</button>
      </div>
    </div>
  </main>

  <footer>
    <div class="social-icons">
      <a href=""><i class="fab fa-facebook fa-sm"></i></a>
      <a href=""><i class="fab fa-instagram fa-sm"></i></a>
      <a href=""><i class="fab fa-twitter fa-sm"></i></a>
      <a href=""><i class="fab fa-whatsapp fa-sm"></i></a>
    </div>
    <div class="footer-nav">
      <ul>
        <li><a href="">Inicio</a></li>
        <li><a href="">Noticias</a></li>
        <li><a href="">Descubre</a></li>
        <li><a href="">Contacto</a></li>
      </ul>
    </div>
  </footer>
  <div class="footer-bottom">
    <p>Made with <i class="far fa-heart" style="color: #ff295e;"></i> by Grupo 3</p>
  </div>
</body>

</html>