<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <title>Sneaker Spot | Carrito</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="css/style-productCart.css">
</head>

<body>
  <div class="register-login">
    <a href=""><i class="fa-solid fa-right-to-bracket login" style="color: #898989;"></i></a>
  </div>
  <header>
    <img src="/images/logo.png" id="logo" alt="" srcset="" width="100px" height="100px">    <nav class="header-nav">
      <a href="">Catálogo</a>
      <a href="">Niño/as</a>
      <a href="">Hombre</a>
      <a href="">Mujeres</a>
    </nav>
    <div class="searchbar">
      <input class="search-txt" type="search" name="" id=""><button class="search-icon"><i class="fas fa-search search-button" style="color: #898989;"></i></button>
    </div>
    <button class="cart-icon"><i class="fas fa-shopping-cart" style="color: #ffffff;"></i></button>
    <nav class="menu">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fa-solid fa-bars menuIcon" style="color: #ffffff;"></i>
      </label>
      <ul>
        <li> <a class="active" href="">Catálogo</a></li>
        <li><a class="active" href="">Niño/as</a></li>
        <li><a class="active" href="">Hombre</a></li>
        <li><a class="active" href="">Mujeres</a></li>
        <li><a class="active" href="">Ingresar</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <p id="titulo-carrito">Carrito</p>

    <section id="contenedor-carrito">

      <section id="articulos-carrito">
        <article class="articulo-carrito">
          <div class="title-shoe">
            <p>Nike Vaporfly 3</p>
          </div>
          <div class="img-desc-buttons">
            <div class="img-art">
              <img src="/images/nikevaporfly3.png" class="productImg" alt="" srcset="">
            </div>
            <div class="buttons-art">
              <div class="contador">
                <button class="menos"><i class="fa-solid fa-minus"></i></button>
                <input type="number" name="" id="" class="productUnits">
                <button class="mas"><i class="fa-solid fa-plus"></i></button>
              </div>
              <p class="price-art">$ 45.000</p>
              <button class="trashcan"><i class="fa-solid fa-trash-can"></i></button>
            </div>
          </div>
          <div class="envio-art">
            <p>Envío</p>
            <p class="blue">Gratis</p>
          </div>
        </article>

        <article class="articulo-carrito">
          <div class="title-shoe">
            <p>Adidas Forum 84 low</p>
          </div>
          <div class="img-desc-buttons">
            <div class="img-art">
            <img src="/images/adidasforum84low.png" class="productImg" alt="" srcset="">
            </div>
            <div class="buttons-art">
              <div class="contador">
              <button class="menos"><i class="fa-solid fa-minus"></i></button>
              <input type="number" name="" id="" class="productUnits">
              <button class="mas"><i class="fa-solid fa-plus"></i></button>
              </div>
              <p class="price-art">$ 45.000</p>
              <button class="trashcan"><i class="fa-solid fa-trash-can"></i></button>
            </div>
          </div>
          <div class="envio-art">
            <p>Envío</p>
            <p class="blue">Gratis</p>
          </div>
        </article>

        <article class="articulo-carrito">
          <div class="title-shoe">
            <p>Adidas 4DFWD2</p>
          </div>
          <div class="img-desc-buttons">
            <div class="img-art">
            <img src="/images/adidas4dfwd2.png" class="productImg" alt="" srcset="">
            </div>
            <div class="buttons-art">
              <div class="contador">
              <button class="menos"><i class="fa-solid fa-minus"></i></button>
              <input type="number" name="" id="" class="productUnits">
              <button class="mas"><i class="fa-solid fa-plus"></i></button>
              </div>
              <p class="price-art">$ 45.000</p>
              <button class="trashcan"><i class="fa-solid fa-trash-can"></i></button>
            </div>
          </div>
          <div class="envio-art">
            <p>Envío</p>
            <p class="blue">Gratis</p>
          </div>
        </article>

        <article class="articulo-carrito">
          <div class="title-shoe">
            <p>Nike Jordan 1 zoom</p>
          </div>
          <div class="img-desc-buttons">
            <div class="img-art">
            <img src="/images/nikejordan1zoom.png" class="productImg" alt="" srcset="">
            </div>
            <div class="buttons-art">
              <div class="contador">
              <button class="menos"><i class="fa-solid fa-minus"></i></button>
              <input type="number" name="" id="" class="productUnits">
              <button class="mas"><i class="fa-solid fa-plus"></i></button>
              </div>
              <p class="price-art">$ 45.000</p>
              <button class="trashcan"><i class="fa-solid fa-trash-can"></i></button>
            </div>
          </div>
          <div class="envio-art">
            <p>Envío</p>
            <p class="blue">Gratis</p>
          </div>
        </article>

      </section>

      <section id="total-carrito">
        <div class="resumen">
          <p>Resumen de compra</p>
        </div>
        <div class="productos-cart">
          <p>Productos(4)</p>
          <p>$ 180.000</p>
        </div>
        <div class="envios">
          <p>Envíos</p>
          <p class="blue">Gratis</p>
        </div>
        <div class="total">
          <p>Total</p>
          <p>$ 180.000</p>
        </div>
        <button class="button-comprar" type="submit">
          Finalizar compra
        </button>
      </section>

    </section>

  </main>

  <footer>
    <div class="social-icons">
      <a href=""><i class="fab fa-facebook fa-sm"></i></a>
      <a href=""><i class="fab fa-instagram fa-sm"></i></a>
      <a href=""><i class="fab fa-twitter fa-sm"></i></a>
      <a href=""><i class="fab fa-whatsapp fa-sm"></i></a>
    </div>
    <div class="footer-nav">
      <ul>
        <li><a href="">Inicio</a></li>
        <li><a href="">Noticias</a></li>
        <li><a href="">Descubre</a></li>
        <li><a href="">Contacto</a></li>
      </ul>
    </div>
  </footer>
  <div class="footer-bottom">
    <p>Made with <i class="far fa-heart" style="color: #ff295e;"></i> by Grupo 3</p>
  </div>
</body>

</html>