body{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-login{
    width: 150px;
    transition: 0.5s;
}

.imagen-login:hover{
    transform: rotate(5deg);
}

.div-img{
    background-color: #5A56E9;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
}

main section{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: fit-content;
    justify-content: space-between;
    border-radius: 5px;
    padding-bottom: 30px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    width: 100%;
    height: 400px;
    padding: 30px;
    margin: 0;
}

input{
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
}

form button{
    width: 100%;
    height: 40px;
    border: none;
    background-color: #5A56E9;
    color: #ffffff;
    border-radius: 5px;
}

form button:hover{
    cursor: pointer;
}
    

.register{
    color: #5A56E9;
}

@media (max-width: 750px){
    main section{
        width: 100%;
        padding: 1rem;
    }
    main{
        padding: 5px;
    }
    #form-login button{
        width: 100%;
    }
}