body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(131, 49, 225);
    width: 100%;
    height: 100px;
}

main {
    width: 100%;
    height: 1000px;
    background-color: #ffffff;
    opacity: 0.8;
    background-image: radial-gradient(#898989 0.5px, transparent 0.5px), radial-gradient(#898989 0.5px, #ffffff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

section {
    background-color: rgba(220, 220, 220, 0.4);
    width: 90%;
    height: 300px;
    border-radius: 20px;
    backdrop-filter: blur(1px);
}

.a-cont{
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.b-cont{
    background-color: rgb(131, 49, 225);
    width: 49%;
    height: 300px;
    border-radius: 20px;
    backdrop-filter: blur(1px);
}

.c-cont{
    background-color: rgb(255, 255, 255);
    width: 49%;
    height: 300px;
    border-radius: 20px;
    backdrop-filter: blur(1px);
    border: 1px solid rgb(131, 49, 225);
}

footer{
    background-color: #111;
}

.footer-container{
    width: 100%;
    padding: 70px 0px 20px;
    
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: #ffff;
    margin: 10px;
    border-radius: 50%;
}

.social-icons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}


.social-icons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.social-icons a:hover i{
    color: white;
    transition: 0.5s;
}

.footer-nav{
    margin: 30 0;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-nav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}

.footer-nav ul li a:hover{
    opacity: 1;
}

.footer-bottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footer-bottom p{
    color: white; 
}

@media (max-width: 700px){
    .footer-nav ul{
        flex-direction: column;
    }
    .footer-nav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }


}