body {
    background-color: #edf2f4;
    margin: 0;
    padding: 0;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .searchbar form{
    flex-direction: row;
    width: 100%;
    gap: 0;
    margin: 0;
    padding: 0;
}

.input-file {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: #3ec898;
  border-radius: 3px;
}

.input-file:hover{
  background-color: #5de2b4;
  transition: 0.2s;
}

.input-file p {
  margin: 0; /* Elimina el margen predeterminado del párrafo */
  position: absolute;
  color: #ffffff;
}

.input-file input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}



/* Estilos para el botón de cerrar */
.error-messages {
  position: relative;
  width: 100%;
  color: #ffffff;
}

/* Estilo para la lista de errores */
.error-messages ul {
  list-style: none;
  padding: 0;
}

/* Estilo para cada mensaje de error */
.error-message {
  background-color: #ff5067;
  position: relative;
  padding: 15px 20px;
}

/* Estilo para el botón de cerrar */
.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
  
  .imagen-login {
    width: 150px;
    transition: 0.5s;
  }
  
  .imagen-login:hover {
    transform: rotate(5deg);
  }
  
  .div-img {
    background-color: #5A56E9;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
  }
  
  main section {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: fit-content;
    justify-content: space-between;
    border-radius: 5px;
    padding-bottom: 30px;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    margin: 0;
  }
  
  input {
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 10px;
    border-radius: 5px 0px 0px 5px;
  }
  
  form button {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #5A56E9;
    color: #ffffff;
    border-radius: 5px;
  }
  
  form button:hover {
    cursor: pointer;
  }
  
  .register {
    color: #0077ff;
  }
  
  @media (max-width: 750px) {
    main section {
      width: 100%;
      padding: 1rem;
    }
  
    main {
      padding: 5px;
    }
  
    #form-register button {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    .error-message{
      padding-right: 60px;
      font-size: 0.7em;
    }

    .error-messages li {
      justify-content: left;
  }
}