body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 30px;
}
  
.ul-1 {
    display: flex;
    gap: 50px;
    margin-right: auto;
}
  
.ul-2 {
    display: flex;
    gap: 10px;
}
  
#cont-search{
    border-radius: 100px;
    border: 2px solid rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
}

li{
    list-style: none;
    text-decoration: none;
}

.sign{
    font-size: 30px;
    color: rgb(30, 30, 30);
}

.bag{
    font-size: 25px;
    color: rgb(30, 30, 30);
}

a {
    text-decoration: none;
    color: rgb(30, 30, 30);
}

.logo{
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.3s;
}

.banner{
    width: 100%;
    height: 450px;
}

.titulares{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    font-style: italic;
}

section{
    display: flex;
    column-gap: 10px;
    margin-bottom: 10px;
}

.producto-img{
    width: 250px;
    height: 250px;
}

.envio{
    color: rgb(0, 255, 175);
    font-size: 16px;
}

.producto{
    font-size: 18px;
}

.descripcion{
    font-size: 16px;
    color: rgb(220, 220, 220);
}

.precio{
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.cont-main{
    width: 100%;
    height: 500px;
    background-color: rgb(241, 241, 241);
    margin-bottom: 20px;
}

.register-ad{
    width: 100%;
    height: 80px;
    background-color:rgb(0, 255, 175);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.about{
    width: 100%;
    height: 450px;
    background-color: rgb(24, 24, 24);
}