<footer>
    <div class="social-icons">
      <a href=""><i class="fab fa-facebook fa-sm"></i></a>
      <a href=""><i class="fab fa-instagram fa-sm"></i></a>
      <a href=""><i class="fa-brands fa-x-twitter"></i></a>
      <a href=""><i class="fab fa-whatsapp fa-sm"></i></a>
    </div>
    <div class="footer-nav">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="">Noticias</a></li>
        <li><a href="">Descubre</a></li>
        <li><a href="">Contacto</a></li>
      </ul>
    </div>
  </footer>
  <div class="footer-bottom">
    <p>Made with <i class="fa-solid fa-heart" style="color: #ff295e;"></i> by Grupo 3</p>
  </div>