<div class="register-login">
  <% if (userId) { %>
    <a href="/profile"><i class="fa-solid fa-user user"></i></a>
  <% } else { %>
    <a href="/login"><i class="fa-solid fa-right-to-bracket login"></i></a>
  <% } %>
</div>
  <header>
    <a href="/"><img src="/images/logo.png" id="logo" alt="" srcset="" width="100px" height="100px"></a>
    <nav class="header-nav">
      <a href="/product/catalogo">Cat치logo</a>
      <a href="">Ni침o/as</a>
      <a href="">Hombre</a>
      <a href="">Mujeres</a>
    </nav>
    <div class="searchbar">
      <input class="search-txt" type="search" name="" id=""><button class="search-icon"><i class="fas fa-search search-button" style="color: #5A56E9;"></i></button>
    </div>
    <a href="/product/cart"><button class="cart-icon"><i class="fas fa-shopping-cart" style="color: #ffffff;"></i></button></a>
    <nav class="menu">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fa-solid fa-bars menuIcon" style="color: #ffffff;"></i>
      </label>
      <ul>
        <li><a class="active" href="">Cat치logo</a></li>
        <li><a class="active" href="">Ni침o/as</a></li>
        <li><a class="active" href="">Hombre</a></li>
        <li><a class="active" href="">Mujeres</a></li>
        <li><a class="active" href="/login">Ingresar</a></li>
      </ul>
    </nav>
  </header>