<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <title>Sneaker Spot | Registrarse</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/style-register.css">
</head>

<body>
  <%- include('../partials/header.ejs') %>
  <main>
    <section>
      <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
        <div class="error-messages">
            <ul>
                <% errors.forEach((error, index) => { %>
                    <li id="error-message-<%= index + 1 %>" class="error-message">
                        <span onclick="closeAllErrorMessages()" class="close-button"><i class="fa-solid fa-xmark"></i></span>
                        <%= error.msg %>
                    </li>
                <% }); %>
            </ul>
        </div>
    <% } %>

      <form action="/register" method="POST" enctype="multipart/form-data">
        <p>Registrate</p>
        <input type="text" name="username" id="username" placeholder="Nombre de usuario">
        <!-- <input type="text" name="lastName" id="name" placeholder="Apellido"> -->
        <input type="email" name="email" id="email" placeholder="Correo Electrónico">
        <input type="password" name="password" id="password" placeholder="Contraseña">
        <input type="file" name="img" accept=".jpg, .jpeg, .png">
        <button type="submit">Ingresar</button>
      </form>
      <p>¿Ya tenés una cuenta? <a href="/login" class="register">Inicia sesión aquí</a></p>
    </section>
  </main>
  <%- include('../partials/footer.ejs') %>
  <script>
    // Función para cerrar todos los mensajes de error
    function closeAllErrorMessages() {
        var elements = document.querySelectorAll('.error-message');
        elements.forEach(function(element) {
            element.style.display = 'none';
        });
    }
</script>
</body>

</html>
