<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <title>Sneaker Spot | Registrarse</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-register.css">
</head>

<body>
  <div class="register-login">
    <a href=""><i class="fa-solid fa-right-to-bracket login" style="color: #898989;"></i></a>
  </div>
  <header>
    <img src="/images/logo.png" alt="" srcset="" width="100px" height="100px" id="logo-img">
    <nav class="header-nav">
      <a href="">Catálogo</a>
      <a href="">Niño/as</a>
      <a href="">Hombre</a>
      <a href="">Mujeres</a>
    </nav>
    <div class="searchbar">
      <input class="search-txt" type="search" name="" id=""><button class="search-icon"><i class="fas fa-search search-button" style="color: #898989;"></i></button>
    </div>
    <button class="cart-icon"><i class="fas fa-shopping-cart" style="color: #ffffff;"></i></button>
    <nav class="menu">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fa-solid fa-bars menuIcon" style="color: #ffffff;"></i>
      </label>
      <ul>
        <li> <a class="active" href="">Catálogo</a></li>
        <li><a class="active" href="">Niño/as</a></li>
        <li><a class="active" href="">Hombre</a></li>
        <li><a class="active" href="">Mujeres</a></li>
        <li><a class="active" href="">Ingresar</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <div class="div-img">
        <img src="images/logo.png" alt="" class="imagen-login">
      </div>
      <form action="/" method="POST">
        <p>Registrate</p>
        <input type="name" name="name" id="name" placeholder="Nombre de usuari@">
        <input type="email" name="email" id="email" placeholder="Correo Electrónico">
        <input type="password" name="password" id="password" placeholder="Contraseña">
        <button type="submit">Ingresar</button>
      </form>
      <p>¿Ya tenés una cuenta? <a href="/register" class="register">Inicia sesión aquí</a></p>
    </section>
  </main>

  <footer>
    <div class="social-icons">
      <a href=""><i class="fab fa-facebook fa-sm"></i></a>
      <a href=""><i class="fab fa-instagram fa-sm"></i></a>
      <a href=""><i class="fab fa-twitter fa-sm"></i></a>
      <a href=""><i class="fab fa-whatsapp fa-sm"></i></a>
    </div>
    <div class="footer-nav">
      <ul>
        <li><a href="">Inicio</a></li>
        <li><a href="">Noticias</a></li>
        <li><a href="">Descubre</a></li>
        <li><a href="">Contacto</a></li>
      </ul>
    </div>
  </footer>
  <div class="footer-bottom">
    <p>Made with <i class="far fa-heart" style="color: #ff295e;"></i> by Grupo 3</p>
  </div>
</body>

</html>