<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <title>Sneaker Spot | Iniciar sesión</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="css/style-login.css">
</head>

<body>
  <%- include('../partials/header.ejs') %>
  <main>
    <section>
      <form action="/login" method="POST">
        <p>Iniciar sesión</p>
        <input type="email" name="email" id="email" placeholder="Correo Electrónico">
        <input type="password" name="password" id="password" placeholder="Contraseña">
        <button type="submit">Ingresar</button>
      </form>
      <p>¿No tienes cuenta? <a href="/register" class="register">Crea una</a></p>
    </section>
  </main>
  <%- include('../partials/footer.ejs') %>
</body>

</html>